<div class="page-container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ 'Shopping Cart' | transloco }}</mat-card-title>
      <mat-card-subtitle>{{
        'ShoppingCart description' | transloco
      }}</mat-card-subtitle>
    </mat-card-header>
    <div class="card-image-container">
      <img
        mat-card-image
        src="../../../assets/img/shopping-cart.png"
        alt="Shopping_Cart"
      />
    </div>
    <mat-card-content>
      <p>
        A shopping cart is an essential part of a retailer’s online store that streamlines the online shopping experience. It’s software that allows website visitors to select, reserve, and purchase a product or service from an eCommerce interface. You can add and remove items as you wish, just like you would in the real world.
        <br>
        Shopping cart software is a fundamental part of the online shopping experience. It’s what facilitates everything in between the customer finding a product they like and completing their purchase. For that reason, implementing excellent shopping cart software is crucial for your eCommerce business.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>{{ 'LIKE' | transloco }}</button>
      <button mat-button>{{ 'SHARE' | transloco }}</button>
    </mat-card-actions>
  </mat-card>
</div>
